/.wwebjs_auth/session/Crashpad/metadata
/.wwebjs_auth/session/Crashpad/settings.dat
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_0
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_1
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_2
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_3
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000001
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000002
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000003
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000004
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000005
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000006
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000007
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000008
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000009
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000010
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000011
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000012
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000013
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000014
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000015
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000016
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000017
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000018
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000019
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000020
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000021
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000022
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000023
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000024
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000025
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000026
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000027
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000028
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000029
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000030
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000031
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000032
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000033
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000034
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000035
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000036
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000037
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000038
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000039
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000040
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000041
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000042
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000043
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000044
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000045
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000046
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000047
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000048
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000049
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000050
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000051
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000052
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000053
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000054
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000055
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000056
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000057
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000058
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000059
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000060
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000061
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000062
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000063
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000064
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000065
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000066
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000067
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000068
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000069
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000070
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000071
/.wwebjs_auth/session/Default/Cache/Cache_Data/index
/.wwebjs_auth/session/Default/chrome_debug.log
/.wwebjs_auth/session/Default/Code Cache/js/08ee7aaedb062258_0
/.wwebjs_auth/session/Default/Code Cache/js/0c6fb2b89390102c_0
/.wwebjs_auth/session/Default/Code Cache/js/1057a4a01407b837_0
/.wwebjs_auth/session/Default/Code Cache/js/114dafb1bea0aaf7_0
/.wwebjs_auth/session/Default/Code Cache/js/1dbd2dbf28c00b49_0
/.wwebjs_auth/session/Default/Code Cache/js/1efecd69a663073c_0
/.wwebjs_auth/session/Default/Code Cache/js/22d641ba4f607655_0
/.wwebjs_auth/session/Default/Code Cache/js/28c3b00512eef05c_0
/.wwebjs_auth/session/Default/Code Cache/js/3129f71c82e81481_0
/.wwebjs_auth/session/Default/Code Cache/js/36ac7a465c1e61c4_0
/.wwebjs_auth/session/Default/Code Cache/js/3ce9b953452250c0_0
/.wwebjs_auth/session/Default/Code Cache/js/3e6fa9ecc9f61e15_0
/.wwebjs_auth/session/Default/Code Cache/js/3f7c68a03e971cc3_0
/.wwebjs_auth/session/Default/Code Cache/js/417232dbcb644202_0
/.wwebjs_auth/session/Default/Code Cache/js/420d4576d93b46ba_0
/.wwebjs_auth/session/Default/Code Cache/js/4de6020af63134af_0
/.wwebjs_auth/session/Default/Code Cache/js/4f2f563c0f511bff_0
/.wwebjs_auth/session/Default/Code Cache/js/56e2bd52909b6e31_0
/.wwebjs_auth/session/Default/Code Cache/js/63f3a2dd8b408178_0
/.wwebjs_auth/session/Default/Code Cache/js/641b23b595cf22b2_0
/.wwebjs_auth/session/Default/Code Cache/js/6a3354e064938668_0
/.wwebjs_auth/session/Default/Code Cache/js/718b6ff273482fb2_0
/.wwebjs_auth/session/Default/Code Cache/js/728668b68565bfb6_0
/.wwebjs_auth/session/Default/Code Cache/js/80eed10e3696e352_0
/.wwebjs_auth/session/Default/Code Cache/js/86562aea4a40cba2_0
/.wwebjs_auth/session/Default/Code Cache/js/8712f9164c54d40f_0
/.wwebjs_auth/session/Default/Code Cache/js/87ef041f2c2ef13d_0
/.wwebjs_auth/session/Default/Code Cache/js/89c56650d8b13ac0_0
/.wwebjs_auth/session/Default/Code Cache/js/8e05275ff3407fe2_0
/.wwebjs_auth/session/Default/Code Cache/js/9e151995c947e27e_0
/.wwebjs_auth/session/Default/Code Cache/js/9e952937b1ca6fa8_0
/.wwebjs_auth/session/Default/Code Cache/js/a032e58da353a4cc_0
/.wwebjs_auth/session/Default/Code Cache/js/a03da3e6e0c2f7f9_0
/.wwebjs_auth/session/Default/Code Cache/js/a22205a0dc22e7fd_0
/.wwebjs_auth/session/Default/Code Cache/js/a7e72c63351005ba_0
/.wwebjs_auth/session/Default/Code Cache/js/ab1f53a2d1c11cc8_0
/.wwebjs_auth/session/Default/Code Cache/js/abafcbd49b66cc3a_0
/.wwebjs_auth/session/Default/Code Cache/js/aeb9894146908e25_0
/.wwebjs_auth/session/Default/Code Cache/js/b402b4056072b52f_0
/.wwebjs_auth/session/Default/Code Cache/js/baf94eb45e5e9b49_0
/.wwebjs_auth/session/Default/Code Cache/js/bc90429f46f69953_0
/.wwebjs_auth/session/Default/Code Cache/js/bd223b533c1b837e_0
/.wwebjs_auth/session/Default/Code Cache/js/c6d56834470b0707_0
/.wwebjs_auth/session/Default/Code Cache/js/c99ba666d6e405bf_0
/.wwebjs_auth/session/Default/Code Cache/js/d483e837cdbdedf1_0
/.wwebjs_auth/session/Default/Code Cache/js/d623cd9ae554c56c_0
/.wwebjs_auth/session/Default/Code Cache/js/e1fa69eae4f11f9b_0
/.wwebjs_auth/session/Default/Code Cache/js/e25cfc960cf9bded_0
/.wwebjs_auth/session/Default/Code Cache/js/e3d0d2ab643a1db1_0
/.wwebjs_auth/session/Default/Code Cache/js/e4694435dcd3c4e4_0
/.wwebjs_auth/session/Default/Code Cache/js/eb310bf37263c946_0
/.wwebjs_auth/session/Default/Code Cache/js/f066b2e1a04b523e_0
/.wwebjs_auth/session/Default/Code Cache/js/fc3dcc6ea5e7d278_0
/.wwebjs_auth/session/Default/Code Cache/js/fc9a51fef367ca07_0
/.wwebjs_auth/session/Default/Code Cache/js/fd9cdbad6b8d430c_0
/.wwebjs_auth/session/Default/Code Cache/js/ff387e9c789d7110_0
/.wwebjs_auth/session/Default/Code Cache/js/index
/.wwebjs_auth/session/Default/Code Cache/js/index-dir/the-real-index
/.wwebjs_auth/session/Default/Code Cache/wasm/index
/.wwebjs_auth/session/Default/Code Cache/wasm/index-dir/the-real-index
/.wwebjs_auth/session/Default/Cookies
/.wwebjs_auth/session/Default/Cookies-journal
/.wwebjs_auth/session/Default/databases/Databases.db
/.wwebjs_auth/session/Default/databases/Databases.db-journal
/.wwebjs_auth/session/Default/DawnCache/data_0
/.wwebjs_auth/session/Default/DawnCache/data_1
/.wwebjs_auth/session/Default/DawnCache/data_2
/.wwebjs_auth/session/Default/DawnCache/data_3
/.wwebjs_auth/session/Default/DawnCache/index
/.wwebjs_auth/session/Default/GPUCache/data_0
/.wwebjs_auth/session/Default/GPUCache/data_1
/.wwebjs_auth/session/Default/GPUCache/data_2
/.wwebjs_auth/session/Default/GPUCache/data_3
/.wwebjs_auth/session/Default/GPUCache/index
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000759.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000776.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000777.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000778.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000779.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000780.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000781.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000782.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000783.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000784.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000785.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000786.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000787.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000789.log
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000791.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000793.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000794.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000795.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000796.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000797.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000798.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000799.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000800.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000801.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000802.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000803.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000804.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000805.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000806.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000807.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000808.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000809.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000810.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000811.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000812.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000813.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000814.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000815.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/CURRENT
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOCK
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG.old
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/MANIFEST-000001
/.wwebjs_auth/session/Default/Local Storage/leveldb/000003.log
/.wwebjs_auth/session/Default/Local Storage/leveldb/CURRENT
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOCK
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOG
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOG.old
/.wwebjs_auth/session/Default/Local Storage/leveldb/MANIFEST-000001
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/81b1ff5627959dc6_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/b438fa263bbf8fa6_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/de661e9a08f44aaa_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/eda01f1ecacba76a_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/f5c3cc7c7b87af81_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/1099696c-cc9d-4d0d-8ddf-4b106c09c4f0/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/83be8ad1-f5ac-449c-a21a-d0abfbc57730/1467c95277c98e46_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/83be8ad1-f5ac-449c-a21a-d0abfbc57730/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/83be8ad1-f5ac-449c-a21a-d0abfbc57730/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/2a2b7cbbc61290b4_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/6ea66fa5b36b4157_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/92172a9e586cee2a_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/e6039a61e4d2a504_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e9afa408-7217-4507-b21d-9a83a5bab0ce/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/index.txt
/.wwebjs_auth/session/Default/Service Worker/Database/000003.log
/.wwebjs_auth/session/Default/Service Worker/Database/CURRENT
/.wwebjs_auth/session/Default/Service Worker/Database/LOCK
/.wwebjs_auth/session/Default/Service Worker/Database/LOG
/.wwebjs_auth/session/Default/Service Worker/Database/LOG.old
/.wwebjs_auth/session/Default/Service Worker/Database/MANIFEST-000001
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/ba23d8ecda68de77_0
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/ba23d8ecda68de77_1
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/f1cdccba37924bda_0
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/f1cdccba37924bda_1
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/index
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/index-dir/the-real-index
/.wwebjs_auth/session/Default/Session Storage/000003.log
/.wwebjs_auth/session/Default/Session Storage/CURRENT
/.wwebjs_auth/session/Default/Session Storage/LOCK
/.wwebjs_auth/session/Default/Session Storage/LOG
/.wwebjs_auth/session/Default/Session Storage/LOG.old
/.wwebjs_auth/session/Default/Session Storage/MANIFEST-000001
/.wwebjs_auth/session/Default/shared_proto_db/000003.log
/.wwebjs_auth/session/Default/shared_proto_db/CURRENT
/.wwebjs_auth/session/Default/shared_proto_db/LOCK
/.wwebjs_auth/session/Default/shared_proto_db/LOG
/.wwebjs_auth/session/Default/shared_proto_db/MANIFEST-000001
/.wwebjs_auth/session/Default/shared_proto_db/metadata/000003.log
/.wwebjs_auth/session/Default/shared_proto_db/metadata/CURRENT
/.wwebjs_auth/session/Default/shared_proto_db/metadata/LOCK
/.wwebjs_auth/session/Default/shared_proto_db/metadata/LOG
/.wwebjs_auth/session/Default/shared_proto_db/metadata/MANIFEST-000001
/.wwebjs_auth/session/Default/VideoDecodeStats/LOCK
/.wwebjs_auth/session/Default/VideoDecodeStats/LOG
/.wwebjs_auth/session/Default/WebStorage/QuotaManager
/.wwebjs_auth/session/Default/WebStorage/QuotaManager-journal
/.wwebjs_auth/session/DevToolsActivePort
/.wwebjs_cache/2.3000.1025052013.html
/.wwebjs_cache/2.3000.1025054449.html
